* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  color: white;
  background-image: url('./developer.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

img {
  height: 100vh;
  width: 100vw;
}

.wrap {
  padding-top: 15vh;
}

.me {
  padding: 2em;
  height: 15em;
  width: 17em;
  border-radius: 50%;
}

.red {
  color: red;
}

.projects {
  padding-top:  5em;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

h2 {
  margin: .5em auto;
  color: white;
}

h2:hover {
  color: navy;
}