* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  color: white;
  background-image: url('./developer.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

img {
  height: 100vh;
  width: 100vw;
}

.wrap {
  padding-top: 15%;
}

.red {
  color: red;
}

.projects {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

h3 {
  margin: .5em auto;
  color: white;
}

h3:hover {
  color: navy;
}